* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(#8cb3d3, #084c8b);
}

#score {
  font-size: 25px;
  color: #7bc1fa;
}

#attempts {
  font-size: 25px;
  color: #7bc1fa;
}

.page-title {
  color: #5aa6e4;
  text-align: center;
  font-size: 6em;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}

.memory-game {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px, auto;
  justify-content: center;
}

.memory-card {
  width: 220px;
  height: 215px;
  margin: 5px;
  transition: all 0.5s;
  transform-style: preserve-3d;
  transform: scale(1);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  background: #5aa6e4;
}

.front-face {
  transform: rotateY(180deg);
}

.extra {
  grid-column: 1 / -1;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  font-family: monospace;
}

.button {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
}

.btn1,
.btn2 {
  color: #084c8b;
}

.btn1:hover,
.btn2:hover {
  color: #fff;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #084c8b;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn2::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 100%;
}
